#maincontainer {
    width: 100%;
    height: 100vh;
    display: flex;
}

#leftcontainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: #FDE3D9;
}

#logo {
    margin: 30px;
    margin-bottom: 140px;
}

#textcontainer h2 {
    width: 330px;
    margin: 30px;
    font-family: "poppins";
    font-weight: 500;
}

#textcontainer p {
    width: 330px;
    margin-left: 30px;
    font-family: "poppins";
    font-size: 10px;
}

#btnimages img {
    margin-top: 40px;
}

#rightcontainer {
    width: 50%;
    background-image: url(./assets/Image/MAIN.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#rightcontainer1 {
    width: 50%;
    background-image: url(./assets/Image/Group.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#nav {
    margin: 30px;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 260px;
}

#nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
    font-family: "poppins";
    font-weight: 300;
}

#textcontent {
    color: white;
    font-size: 15px;
    width: 180px;
    margin-left: 50px;
    font-weight: 300;
    font-family: "poppins";
}

#textcontent h2 {
    font-size: 30px;
}

#textcontent p {
    font-weight: 300;
    font-size: 15px;
}